Django==1.11.20
django-ckeditor==5.4.0
django-debug-toolbar==1.9.1
django-haystack==2.8.1
django-js-asset==1.1.0
djangorestframework==3.8.2
drf-nested-routers==0.90.2
jieba==0.39
Markdown==2.6.11
Pillow==8.2.0
pytz==2018.4
sqlparse==0.2.4
Whoosh==2.7.4
