{% extends "base.html" %}
{% load static from staticfiles %}

{% block webhead %}

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ info.title }} 归档</title>
{% endblock %}

{% block webbody %}

<h4 style="color: grey">嗯..! 目前共计 {{ total }} 篇文章。 继续努力。</h4>
<div class="block">
  <el-timeline>
      {% for blog in blog_list %}
        <el-timeline-item timestamp="{{ blog.create_at }}" placement="top">
          <el-card>
              <a href="{% url 'blog:details' blog.id %}"><h4>{{ blog.title }}</h4></a>
          </el-card>
        </el-timeline-item>
      {% endfor %}
  </el-timeline>
</div>
{% endblock %}