{% extends "base.html" %}
{% load static from staticfiles %}


{% block webhead %}
    <meta name="title" content="{{ blog_list.title }}">
    <meta name="Author" content="{{ blog_list.author }}的网络日志 博客">
    <meta name="Description" content="{{ blog_list.summary }}, {{ blog_list.title }}">
    <meta name="Keywords" content="{{ blog_list.tags }}, {{ blog_list.category }}">

    <title>{{ blog_list.title }}</title>

{% endblock %}


{% block webbody %}



<h2 style="text-align: center">{{ blog_list.title }}</h2>
{#<span><i class="el-icon-edit"></i>{{ blog_list.author }}</span>#}
<span style="color: grey">{{ blog_list.category }}</span>
    &nbsp;&nbsp;&nbsp;
<span style="color: grey; float: right"><i class="el-icon-date"></i> &nbsp;{{ blog_list.create_at|date:"M d Y" }}</span>




    <hr>
        {{ blog_list.summary|safe }}

        {{ blog_list.content|safe }}


    <hr>

{% for tag in tag_list %}
    <a href="{% url 'blogtags' %}?tid={{ tag.id }}">
    <el-button type="warning" round>
        {{ tag }}
    </el-button>
    </a>

    {% endfor %}

    <br><br>

<el-collapse>
  <el-collapse-item title="评论" name="1">
    <div>

        <el-form ref="form"  action="{% url 'comment' %}" method="post">
        {% csrf_token %}
            <el-input v-model="input" placeholder="请输入您的名字" name="username"></el-input>
        <br><br>
        <el-input v-model="input" placeholder="请输入您的邮箱" name="email"></el-input>
        <br><br>
        <el-input
          type="textarea"
          :rows="6"
          placeholder="请输入您的评论"
          name="message"
          v-model="textarea">
        </el-input>
            <input type="hidden" name="bid" value="{{ blog_list.id }}">
            <br><br>
            <button  type="submit" class="el-button">提交</button>
    </el-form>
    </div>

  </el-collapse-item>
</el-collapse>

    <br>

{% for message in message_list %}
    <el-card class="box-card">
        <span style="font-size: 12px;color: grey">{{ message.name }}</span>
        <span style="font-size: 12px; float: right; color: grey">{{ message.create_at }}</span>
        <br><br>
        <span>
            {{ message.message }}
        </span>

    </el-card>
    <br>
{% endfor %}


{% endblock %}





