          <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
              <el-menu-item index="5"><a href="{% url "index" %}" style="font-size: 25px; font-family: 'Courier New', Monospace" >{{ info.title }}</a></el-menu-item>
              <el-menu-item index="2"><a href="{% url 'archives' %}">归档</a></el-menu-item>
              <el-menu-item index="3"><a href="{% url 'categories' %}">分类</a></el-menu-item>
              <el-menu-item index="4"><a href="{% url 'tags' %}">标签</a></el-menu-item>
              <el-menu-item index="6"><a href="{% url 'ziyu' %}">自语</a></el-menu-item>
              <el-menu-item index="7"><a href="{% url 'aboutme' %}">关于我</a></el-menu-item>
              <el-menu-item index="8"><a href="https://gist.github.com/ngauerh">Gist</a></el-menu-item>
{#              <el-menu-item index="8"><a href="">RSS</a></el-menu-item>#}
{#              <el-menu-item index="5"><i class="el-icon-search"></i></el-menu-item>#}
            </el-menu>
            <div class="line"></div>

              <br><br>
          </el-header>