{% extends "base.html" %}
{% load static from staticfiles %}

{% block webhead %}


{% endblock %}


{% block webbody %}

    {% for tag in tag_list %}


        <a href="{% url 'blogtags' %}?tid={{ tag.id }}"><el-tag type="success" style="font-size: 16px">{{ tag.tag }}</el-tag></a>

    {% endfor %}


    {% for ca in ca_list %}
        <a href="{% url 'blogtags' %}?tid={{ ca.id }}"><el-tag type="success" style="font-size: 16px">{{ ca.category }}</el-tag></a>
    {% endfor %}






{% endblock %}